body{
    width: 100vw;
    height: auto;
    position: relative;
    background-color: #36393f;
    font-family: Poppin!important;
    scrollbar-width: thin;
}
.messenger{
    position: fixed;
    bottom: 20px;
    right:20px;
}
.top-nav{
    width: 100vw;
    height: 60px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99999;
    background-color: #36393f;
    box-shadow: 0 .25rem .125rem 0 rgba(0,0,0,0.05);
}
.nav-left{
    width: 25%;
    position: relative;
}
.nav-logo-wrapper{
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
.nav-logo{
    background-image: url(../imgs/astroneer.jpg);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    padding:1px;
}
.nav-search{
    position: relative;
    margin:5px;
    
}
.icon-search{
    position: absolute;
    top:8px;
    right: 6px;
    width: 15px;
    height: 15px;
    z-index: -1;
   
}
.input-search{
    width: 0px;
    height: 70%;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color:#fff;
}
.input-search:focus{
    width: 100px;
    border-radius: 9999px;
    border-width: .125rem;
    transition: all .2s ease-in-out;
    border-color:#4dabf7;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125),0 0 8px rgba(34,139,230,0.5);
}
.nav-center{
    width: 45%;
    justify-content: center;
    height: 100%;
}
.nav-right{
    width: 30%;
    position: relative;
}
.icon-block{
    height: inherit;
    width: 20%;
    position: relative;
    transition: 0.1 ease-in-out;
}
.icon-block:hover{
   background-color: rgba(255, 255, 255, 0.2);
   transition: 0.1 ease-in-out;
   border-radius: 5px;
   cursor: pointer;
}
.icon{
    background-image: url(../imgs/discord.svg);
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    fill: #E4E6EB;
}

.my-info{
    margin-left:40%;
    height: 30px;
    margin-top:2px;
    width: 15%;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    transition: .2s ease-in-out;
    padding:3px;
    
}
.my-info:hover{
    background-color: rgba(255, 255,255, 0.1);
    transition: .2s ease-in-out;
}
.my-info > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.username{
    display: inline-block;
    margin:auto;
    width: 30px;
    overflow: hidden;
    white-space: nowrap;
    color: ivory;
    font-size: small;
}
.feature-list{
    width: 100%;
    position: absolute;
    top: 15%;
    left: 50%;
    height: 40px;
    transform: translate(-50%);
}
.feature-icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    background-color: rgba(255, 255,255, 0.1);
    position: relative;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.feature-icon:hover{
    background-color: rgba(255, 255,255, 0.3);
    transition: .1s ease-in-out;
    transform: scale(101%);
}
.feature-icon-img{
    width: 20px;
    height: 20px;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%);
}
.wrapper{
    margin-top:60px;
    position: relative;
    height: 100vh;
}
.left{
    height: 100vh;
    width: 30%;
    overflow: hidden;
    position: fixed;
}

.center{
    height: auto;
    width: 100%;
    scrollbar-width: thin;
    margin-left: 30%;
    margin-right: 31%;
}

.right{
    width: 30%;
    margin-top:40px;
    height: 100vh;
    position: fixed;
    right: 0;
    top:0;
}
.stories{
    width: 90%;
    height: 260px;
    margin:auto;
}
.stories-item{
    background-color: tomato;
    width: calc((100% / 5) - 5px);
    height: 80%;
    border-radius: 8px;
    margin:25px 5px;
    position: relative;
}
.stories-avatar{
    position: absolute;
    top:10%;
    left: 10%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.add-newfeed{
    margin-top:25px;
    height: 150px;
    width: 100%;
}
.add-newfeed-avatar{
    margin:25px 20px;
    width: 5%;
    height: auto;
    cursor: pointer;
}
.thinking{
    outline: none;
    width: 95%;
}
.inner-thinking{
    padding:5px 5px 5px 20px;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top:25px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.inner-thinking:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all .2s ease-in-out;
}
.add-newfeed-avatar > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.add-newfeed-avatar > img:hover{
    transition: all .2s ease-in-out;
    background-color: rgba(255,255,255,.1);
}
.upper-newfeed{
    margin-bottom: 10px;
}
.emote-newfeed{
    width: 95%;
    height: auto;
    margin:auto;
}
.emotes-item{
    width: 35%;
    height: auto;
    border-radius: 18px;
    transition: all .2s ease-in-out;
}
.emotes-item:hover{
    transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.emote-text{
    font-size: small;
    display: block;
    justify-content: center;
    text-align: justify;
}
.emote-icon{
    width: 20px;
    height: 20px;
}

/* Newfeed */


.newfeed{
    width: 100%;
    height: 100vh;
    scrollbar-width: thin;

}
.newfeed-item{
    z-index: 999;
    width: 100%;
    height: 600px;
    border-radius: 5px;
    margin-top:5px;
    background-color: rgba(0,0,0,0.1);
}
.newfeed-header{
    width: 90%;
    padding-top: 20px;
    margin:auto;
}
.newfeed-username{
    text-align: left;
    margin-left:20px;
    font-size: medium;
}
.newfeed-info{
    width: 90%;
    height: 10%;
    text-align: left;
    margin:auto;
}
.newfeed-content{
    width: 100%;
    height: 530px;
    margin:auto;
    margin-top:10px;
}

.newfeed-footer{
    height: 100px;
}
.newfeed-interact{
    background-color: rgba(0,0,0,0.1);
    padding:10px 0px;
    margin-top: -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* .content{
    background-image: url(../imgs/imgPlaceholder.svg);
    width: 300px;
    height: 400px;
} */
#modal2 {
    margin-top:100px;
}

.modal{
    font-family: Poppin!important;
    max-width: 800px!important;
    max-height: 800px!important;
    height: 500px;
    background-color: #36393f!important;

}
.shortcutLShort{
    width: 60%;
    margin-top:30px;
    margin-left: 3%;
    overflow: hidden;
    
}
.shortcutMore{
    width: 60%;
    margin-left: 3%;
}
.shortcutIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortcutName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newFeedH{
    border-bottom: 1px solid rgba(255, 255,255, 0.1);
    height: 50px;
    width: 100%;
}
.newFeedM{
    margin: auto;
}

.rightNewFeedM{
    margin-left: 10px;
}
.centerNewFeed{
    width: 100%;
    height: 50%;
}
.centerNewFeedText{
    width: 100%;
    height: 90%;
    resize:none;
    overflow:auto;
    margin: auto;
    border:0px;
    outline:0px;
    background-color:transparent;
}
.actionBtnNewFeed{
    border: rgba(255, 255,255, 0.1) 1px solid;
    padding:5px;
    border-radius: 10px;
    transition: all 0.1 ease-in-out;
}

.addPost{
    color: rgba(255, 255,255, 0.9);
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.1 ease-in-out;
}

.emoteItem{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.btnAddNewFeed{
    background-color: rgba(255, 255,255, 0.2);
    border-radius: 5px;
    font-weight: bold;
    color: rgba(255, 255,255, 0.9);
    transition: all 0.1 ease-in-out;
}
.btnAddNewFeed:hover{
    background-color: rgba(255, 255,255, 0.3);
    transition: all 0.1 ease-in-out;
}


.friends{
    width: 70%;
    float: right;
    margin-right: 15px;
    margin-top:25px;
}
.friend-action{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.postAddNew {
    margin-top: 0;
}

.StoriesConfig{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.storyWrapper{
    position: relative;
}
.storyCenter{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 460px;
    height: 330px;
}
.pair{
    width: 220px;
    height: 330px;
    cursor: pointer;
}
.pair1{
    background-image: url('../imgs/2pair.png');
    background-position: 98% 0;
    width: 100%;
    height: 330px;
    position: relative;
}
.pair2{
    background-image: url('../imgs/2pair.png');
    background-position: 98% 94%;
    width: 100%;
    height: 330px;
    position: relative;
}
.uploadBlock{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(57, 62, 68);
    box-shadow: 0 2px 4px #B0B3B8;
    cursor: pointer;
}
#secondAppear{
    background-color: #36393f;
}
.previewSlot{
    clear: both;
    position: relative;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.previewer{
    width: 90%;
    height: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #36393f;

}
.previewerIn{
    margin:auto;
    background-color: rgba(0, 0, 0, 0.1);
    width: 97%;
    height: 88%;
}
.imgHolder{
    object-fit: cover;
    
}
#imgPreviewer{
    width: 460px;
    height: 330px;
}
input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
    border: none;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%,0%);

  }
  
  /* The slider itself */
  .sliders {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: #eee2e2; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
  }
  
  /* Mouse-over effects */
  .sliders:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .slider:active{
    background: #1877F2; 
  }
  /* #1877F2 */
  .sliders::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #fff;
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .sliders::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .storyProp{
      width: 70%;
  }
.leftStories{
    position: relative;
  }
.footerStory{
    position: absolute;
    bottom: 0px;
    padding:20px;
    width: 90%;
    left:0px;
}


#me{
    width: 100%;
    height: 100vh;
}
#modalMessenger{
    border-radius: 8px;
}
.messengerMess{
    width: 350px;
    height: 450px;
    border-radius: 8px;
}
.messfunction{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#mypage{
    margin-top: 60px;
}
.meA{
    position: relative;
}
.meBeforeAvatar{
    width: 100%;
    margin-top:-10px;
    padding-top: 37.037%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.meAvatar{
    position: absolute;
    bottom: -85px;
    width: 170px;
    right: 50%;
    transform: translate(50%, 0);
}
.addCoverPhoto{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.meC{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.meCRight{
    float: right;
}
.meName{
    width: 50%;
    margin:30px auto 0 auto;
    padding-top: 50px;
}
.meD{
    background-color: rgba(255, 255, 255, 0.5);
}

#mdNewfeed{
    width: 600px!important;
    height: 600px!important;
}
.newfeed-comment{
    width: 100%;
}
.newfeed-comment > input{
    margin-top:10px;
    width: 96%;
    background-color: rgba(0,0,0,0.1);
    border: none;
    outline: none;
    height: 30px;
    border-radius: 10px;
    padding:10px;

}